.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.sampleStyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  background-color: gainsboro;
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 1px grey;
}

.fillStyle {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: white;
  border: solid 0.3px gray;
}
